BlinkStick==1.1.8
Flask==0.10.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mosquitto==1.2.3
paho-mqtt==1.1
pygal==2.2.1
pymongo==3.2.1
python-dateutil==2.5.3
pyusb==1.0.0b1
six==1.10.0
Werkzeug==0.11.4
